@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

/* size */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(63 63 70);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(63 63 70);
}
